.quizitem{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    width: 20%;
}

.quizitem .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quizitemtitle{
    font-size: 1.5rem;
    font-weight: 600;
}

.quizviews{
    font-size: 1rem;
    font-weight: 600;
    color: #FF5D01;
    display: flex;
    align-items: center;
}

.viewicon{
    margin: auto 0.4rem;
    font-size: 1.2rem;
}

.quizcreated{
    width: 100%;
    font-size: 0.8rem;
    color: #60B84B;
}