.deletemodal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delm{
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 50%;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.cancelbtn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    display: block;
}

.confirmbtn{
    color: white;
    background-color: #FF4B4B;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    display: block;
}